*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    margin-top: 20px;
    width: 100%;
}
.list-img{
    margin: 10px;
    width: calc(100%/3 - 20px);
    flex-wrap: wrap;
}
img{
    width: 100%;
    
}
.sconto{
    background-color: red;
    color: white;
    padding: 5px;
    
    
}
.position1{
    position: absolute;
    left: 170px;
    top: 620px;
}
.position2{
    position: absolute;
    top: 620px;
    left: 570px;
}
.position3{
    position: absolute;
    top: 620px;
    right: 504px;
}
.position4{
    position: absolute;
    top: 1250px;
    left: 170px;
}
.sostenibile{
    background-color: green;
    color: white;
    padding: 5px;
}
.position-sostenibile1{
    position: absolute;
    top: 620px;
    left: 220px;
}
.position-sostenibile2{
    position: absolute;
    top: 1250px;
    left: 220px;
}
.position-sostenibile3{
    position: absolute;
    top: 1250px;
    right: 460px;

}
.color-red{
    color: red;
    font-weight: bold;
}
.text-sbarrato{
    text-decoration: line-through;
    
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.card:hover .display-block{
    display: none;
}
.card:hover .display-none{
    display: block;
}
.heart1{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 130px;
    left: 530px;
}
.heart2{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 130px;
    left: 930px;
}
.heart3{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 130px;
    right: 170px;
}
.heart4{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 763px;
    left: 530px;
}
.heart5{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 763px;
    left: 930px;
}
.heart6{
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: 763px;
    right: 170px;
}
header{
    background-color: orange;
    position: fixed;
    margin-bottom: 1100px;
    z-index: 1;
    width: 100%;
}
.icone{
    height: 20px;
    width: 20px;
}
.icona-logo{
    width: 150px;
    height: 50px;
}
.container-header{
    margin: auto;
    padding: 10px;
}
.row-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-left{
    width: 30%;
    display: flex;
    justify-content: center;
}
.header-center{
    width: 40%;
    display: flex;
    justify-content: center;
}
.header-right{
    width: 30%;
    display: flex;
    justify-content: center;;
}