*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    margin-top: 20px;
    width: 100%;
}
.list-img{
    margin: 10px;
    width: calc(100%/3 -20px);
}
img{
    width: 100%;
    
}
