*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    margin-top: 20px;
    width: 100%;
}
.list-img{
    margin: 10px;
    width: calc(100%/3 - 20px);
    flex-wrap: wrap;
}
img{
    width: 100%;
    
}
.sconto{
    background-color: red;
    color: white;
    padding: 5px;
    
    
}
.position1{
    position: absolute;
    left: 170px;
    top: 510px;
}
.position2{
    position: absolute;
    top: 510px;
    left: 570px;
}
.position3{
    position: absolute;
    top: 510px;
    right: 504px;
}
.position4{
    position: absolute;
    top: 1150px;
    left: 170px;
}
.sostenibile{
    background-color: green;
    color: white;
    padding: 5px;
}
.position-sostenibile1{
    position: absolute;
    top: 510px;
    left: 220px;
}
.position-sostenibile2{
    position: absolute;
    top: 1150px;
    left: 220px;
}
.position-sostenibile3{
    position: absolute;
    top: 1150px;
    right: 460px;

}
.color-red{
    color: red;
    font-weight: bold;
}
.text-sbarrato{
    text-decoration: line-through;
    
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.card:hover.display-block{
    display: block;
}
.card:hover.display-none{
    display: none;
}